@media screen and (max-width:600px){
    .nav-section{
        align-items: center;
    }
    .nav-section li{
        display: none;
    }
    .menu .menu-item{
        display: none;
    }
   
    .menu  .icon{
        margin-right: 30px;
        display: block;
        color: black;
    }
    
    
}

/* banner */
@media screen and (max-width:600px){
    .banner{
        margin-top:20px;
        /* margin-bottom: 10px; */
        /* width: 100%; */
        background-size: auto 100%;
        background-repeat: no-repeat;
    }
    .box-categories{
        flex-direction: column;
    }
    .btn-primary{
        margin-left: 10px;
    }
    .box-categories input{
        margin-left: 10px;
        width: 154px;
    }
    .banner-text{
        width: 80%;
        text-align: justify;
    }
  


  /* popular tour */

  .popular-tour {
    flex-direction: column;
    margin-top: 5px;
   
}

.tour-content {
    width: 100%;
    padding: 50px;
    /* display: block; */
}

/* discount section */

.discount {
    margin: 20px 10px;
 
}


/* .discount .discount-container{
    justify-content: flex-end;
} */

/* destination */


.destination-content {
    margin-top: 10px;
    width: 90%;
    /* margin: 0 auto; */
  
}

.destination-content h2 {
/* color: #131318; */

/* text-align: center; */

font-size: 1.5rem;

   
}


.destination-img-box{
    margin-top: 48px;
}

.destination-img img{
    height: 100%;
    width: 100%;
}

.destination-img {
   flex-direction: column;
   /* justify-content: center; */
   width: 100%;
   align-items: center;
}

.destination-section .mal {
    filter: brightness(90%);
    margin-top: 25%;
    left: 47%;
    /* transform: translate(-50%, -50%); */
}

.destination-section .ind {
    filter: brightness(90%);
    /* position: absolute;  */
    margin-top: 84%;
    left: 48%;
    /* transform: translate(-50%, -50%); */
}

.destination-section .sri {
    filter: brightness(90%);
    margin-top: 38%;
    left: 48%;
    /* transform: translate(-50%, -50%); */
}

.destination-section .na {
    filter: brightness(90%);
    margin-top: 115%;
    left: 51%;
    /* transform: translate(-50%, -50%); */
}

.destination-section .kas {
    filter: brightness(90%);
    margin-top: 200%;
    left: 48%;
    /* transform: translate(-50%, -50%); */
}

.destination-section .ban {
    filter: brightness(90%);
    margin-top: 31%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

.destination-section .bnd {
    filter: brightness(90%);
    margin-top: 92%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}



/* choose section */

.choose-content {
    /* text-align: center; */
    width: 90%;
    margin: 0 auto;
}

.choose-box1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose-box2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.box1{
    max-width: 90%;
    padding: 10px;
    height: 289px;

}

.box2{
    max-width: 90%;
    padding: 10px;
    height: 289px;

}


/* newsletter section */
.newsletter {
    /* border: 2px solid blue; */
    margin-top: 10px;


}

.newsletter-container {
    flex-direction: column;
    align-items: center; 
}

.newsletter-content {
    max-width:  435px;
    height: 353px;
  
    width: 100%;
}

hr {
    width: 400px;
   
}
.newsletter-image{
    width: 95%;
}

.newsletter-offer {
   
    border-radius: 16px;
    background: #FF5400;
    width: 340px;
    height: 120px;
    color: #FFFF;
    position: absolute;
    padding: 5px;
    text-align: center;
    transform: rotate(-20.2deg) scale(0.60) translateX(450px) translateY(-140px);

}


/* footer */

.footer {
    /* border: 2px solid blue; */
    margin-top: 10px;
}

.footer-section {
   
    padding: 30px 44px 5px 44px;
}

.social-media  {
    width: 350px;
    /* text-align: center; */


    /* 162.5% */
}

}