@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;800;900&family=Lato:ital,wght@0,100;0,400;0,700;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:wght@400;600;700;800&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    /* font-family: "Mulish", sans-serif; */
    margin: 0;
    padding: 0;
}

/* shared style */
.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    border: 0;

    color: #fff;
    width: 174px;
    height: 52px;
    color: #FFF;


    font-family: Mulish;
    font-size: 1.25rem;

    font-weight: 800;


}

.menu .shared-color {
    color: #FF5400;

}

.shared-black {
    color: #131318;
}

.shared-gray {
    color: rgba(19, 19, 24, 0.70);
}

header,
main {
    max-width: 1190px;
    margin: 0 auto;
}


/* nav section */

.nav-content h3 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 5px;

    font-size: 2.25rem;
    color: #131318;

}

.nav-section .Burst {
    color: #FF5400;
}



.nav-content {
    display: flex;
    align-items: center;
}

.nav-content img {
    width: 48px;
    height: 56.008px;
}

.menu {
    display: flex;
}

.nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-section li {
    font-family: Mulish;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #424247;
    margin-left: 50px;
}

.icon {
    display: none;
}

/* banner */
.banner {
    width: 100%;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    height: 100%;
    margin-top: 10px;
    
    text-align: center;
    border-radius: 16px;
   
}

.banner-heading {
    margin-bottom: 30px;
    font-family: Mulish;
    /* margin-top: 106px; */
    color: white;
    font-size: 4rem;
    font-weight: 800;
    
}

.banner-text {
    color: white;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    width: 60%;
    margin: 0 auto;
    padding: 0 50px;
    margin-top: 0px;
}



.box-categories {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    margin-bottom: 100px;
    gap: 24px;
    padding: 16px;
   
    /* align-items: center; */
    align-items: flex-start;
   
}

.box-categories input {
    font-family: Mulish;
    height: 52px;
    width: 174px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 20px;
}

.box-categories select {
    color: #13131880;
    padding-left: 20px;
    height: 52px;
    width: 174px;
    border-radius: 8px;
    background: #FFF;
    margin-left: 10px;
}

.box {
    margin-top: 30px;
}

/* popular tour */
.popular-tour {
    display: flex;
    margin-top: 100px;
    /* border: 2px solid blue; */
    /* gap: 0px; */
    justify-content: space-between;
}

.tour-content {
    width: 50%;
    padding: 20px;
}

.tour-content h2 {
    /* text-align: center; */
    margin-top: 0;
    font-family: Mulish;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 800;

}

.tour-content p {
    font-family: Mulish;
    max-width: 530px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;

}

.tour-content ul li {
    font-family: Mulish;
    max-width: 525px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;

}

.tour-img {
    width: 50%;
    margin-left: 50px;
}

/* destination  */

.destination-section {
    /* position: relative; */
}

.destination-content {
    width: 60%;
    margin: 0 auto;
    /* justify-content: center; */
    text-align: center;

    margin-top: 50px;
}

.destination-content h2 {
    /* color: #131318; */

    /* text-align: center; */
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 5px;
    line-height: normal;

}

.destination-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.destination-img-box {
    margin-top: 48px;
}

.destination-img {
    display: flex;
    gap: 24px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    /* margin-top: 24px; */
    margin-bottom: 24px;
}

.destination-section .mal {
    filter: brightness(90%);
    position: absolute;
    margin-top: 11%;
    left: 29%;
    transform: translate(-50%, -50%);
}

.destination-section .ind {
    filter: brightness(100%);
    position: absolute;
    margin-top: 10%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.destination-section .sri {
    /* filter: brightness(80%); */
    position: absolute;
    margin-top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.destination-section .na {
    /* filter: brightness(80%); */
    position: absolute;
    margin-top: 10%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.destination-section .kas {
    /* filter: brightness(80%); */
    position: absolute;
    margin-top: 10%;
    left: 78%;
    transform: translate(-50%, -50%);
}

.destination-section .ban {
    /* filter: brightness(80%); */
    position: absolute;
    margin-top: 10%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.destination-section .bnd {
    /* filter: brightness(80%); */
    position: absolute;
    margin-top: 10%;
    left: 66%;
    transform: translate(-50%, -50%);
}

/* choose section */

.choose {
    /* border: 2px solid blue; */
}

.choose-content {
    text-align: center;
    width: 45%;
    margin: 0 auto;
}

.choose-content h2 {

    font-family: Mulish;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.choose-content p {

    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.choose-box1 {
    /* border: 2px solid blue; */
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}

.box1 {
    /* border: 2px solid blue; */
    width: 563px;
    height: 235px;
    flex-shrink: 0;
    padding: 30px;
    /* width: 45%; */
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.box2 {
    /* border: 2px solid blue; */
    /* margin-left: 24px; */
    padding: 30px;
    width: 563px;
    height: 235px;
    flex-shrink: 0;
    /* width: 45%; */
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.box1 p {
    width: 486px;
    font-size: 1rem;
    font-weight: 400;
}

.box2 p {
    width: 486px;
    font-size: 1rem;
    font-weight: 400;
}

.box1,
.box2 h4 {
    font-size: 1.5rem;
    font-weight: 800;
}

.box1 h4,
img,
p {
    margin-bottom: 16px;
}

.box2 h4,
img,
p {
    margin-bottom: 16px;
}

.choose-box2 {
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

.choose-box2 h4,
img,
p {
    margin-bottom: 16px;
}

.choose-box2 h4 {
    font-size: 1.5rem;
    font-weight: 800;
}

/* newsletter section */

.newsletter {
    /* border: 2px solid blue; */
    margin-top: 100px;


}

.newsletter-container {
    display: flex;
    gap: 2.5rem;
}

.newsletter-content {
    /* border: 2px solid blue; */
    width: 40%;
    padding: 30px;
    /* width: 474px;
height: 422px; */
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
    height: 370px;

}

hr {
    width: 493px;
    height: 0.2px;
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 24px;
}


.newsletter-content h3 {
    margin-top: 0px;
    font-family: Mulish;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;

}

.newsletter-content p {
    width: 350px;
    color: #5A5A5D;

    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 1.5rem;

}

.newsletter-content form input {
    margin-bottom: 16px;
    width: 393px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 10px;
}


.newsletter-image {
    /* border: 2px solid blue; */
    width: 60%;
    position: relative;
    /* width: 672px;
height: 422px; */
}

.newsletter-image img {
    width: 100%;
    height: 422px;
}


.subscribe-btn {

    border-radius: 8px;
    background: #FF5400;
    width: 416px;
    height: 52px;


    color: #FFFF;
    font-size: 1.25rem;
    font-weight: 800;
    border: 0;
}


.newsletter-offer {
    width: 340px;
    height: 120px;
    border-radius: 16px;
    background: #FF5400;
    color: #FFFF;
    position: absolute;
    padding: 5px;
    text-align: center;
    transform: rotate(-20.2deg) scale(0.80) translateX(410px) translateY(-100px);

}

.newsletter-offer p {
    color: #FFF;
    margin-bottom: 4px;
    font-family: Mulish;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.newsletter-offer h4 {
    color: #FFF;
    margin-top: 0px;
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


/* footer */
.footer {
    /* border: 2px solid blue; */
    margin-top: 100px;
}

.footer-section {
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    height: 322px;
    padding: 110px 50px 5px 50px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 50%; */
    /* border: 2px solid blue; */
}
.footer-content .Burst {
    color: #FF5400;
}

.footer-content p {
    margin-left: 1rem;

    /* font-size: 2; */
}
.footer-content h3 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 5px;

    font-size: 2.25rem;
    color: #131318;

}

.footer-content img {
    width: 3rem;
    height: 2.5rem;
}

.social-media ul li {
    list-style: none;
    color: black;


}

.social-media ul {
    display: flex;
    justify-content: center;
    gap: 23px;
}

.social-media hr {
    width: 100%;
    margin: 0 auto;
}

.social-media {
    width: 769px;

    color: #5A5A5D;
    margin: 0 auto;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}